/* App-wide CSS */
@font-face {
  font-family: 'Inter';
  src: url('./src/assets/Inter-VariableFont_slnt\,wght.ttf');
}

html {
  font-family: 'Inter';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.Start {
  background: url("../assets/sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Start>main>.card input[type=text] {
  padding: 10px;
  border-radius: 1vmin;
  border: 1px solid gray
}

.Start>main>.homepage-card {
  border-radius: 2vmin;
  min-width: 800px;
}

h1.card-title {
  font-size: xx-large;
  font-weight: bold;
}

nav {
  padding: 0.5rem;
}

nav>ul {
  margin: 0;
  padding: 0.7rem;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

nav>ul>li {
  list-style: none;
  align-items: center;
}
nav>ul>li>a{
  color: white;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  text-align: center;

}
nav>ul>li>a:hover {
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  transition: 0.1s;
  color: rgba(0, 0, 0, 0.7);
}

.pfp {
  height: 2.5em;
  border-radius: 50%;
}

.BorderedContainer {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1rem;
}

.PostContainer {
  padding: 1rem;
  margin-bottom: 1rem;
  min-width: 100%;
}

.PostData img,
strong {
  margin-right: 0.5rem;
}

.PostData span {
  opacity: 40%;
}

.subtitle {
  margin-top: 10vh;
  opacity: 40%;
}


/* Like, reply, repost, send post */

.reaction-button,
.SendButton {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  border: none;
  align-items: center;
  justify-content: center;
}

.reaction-button {
  background-color: #00000000;
  border-radius: 50%;

}

.SidebarButton span.icon{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.reaction-button span {
  width: 24px;
  height: 24px;
}

.SendButton {
  position: relative;
  align-self: flex-end;
  transform: translate(-4px, -56px);
  background-color: rgb(0, 110, 255);
  border: 2px solid rgb(0, 195, 255);
  padding: 1.5rem;
  border-radius: 50% 15% 20% 15%;

}

.SendButton:active {
  background-color: rgb(8, 64, 167);
  border: 2px solid rgba(0, 1, 43, 0.719);
  box-shadow: 0px 0px 5px 0px rgb(0, 55, 107);
}

.reaction-button:hover {
  background-color: rgba(0, 110, 255, 0.3);
}


/* ===== Sidebar ===== */
.sidebar {
  height: 100vh;
  overflow: hidden;
}

.sidebar span.text {
  margin-left: 1rem;
}

/* Buttons for new tabs */
.SidebarButton {
  background-color: #00000000;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
}

.SidebarButton span.icon {
  width: 2rem;
}

.SidebarButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.SidebarButton:active {
  background-color: rgba(0, 0, 0, 0.3);
}