/* App-wide CSS */
@font-face {
  font-family: 'Inter';
  src: url('./src/assets/Inter-VariableFont_slnt\,wght.ttf');
}

html {
  font-family: 'Inter';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.Start {
  background: url("../assets/sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Start>main>.card input[type=text] {
  padding: 10px;
  border-radius: 1vmin;
  border: 1px solid gray
}

.Start>main>.homepage-card {
  border-radius: 2vmin;
  min-width: 800px;
}

h1.card-title {
  font-size: xx-large;
  font-weight: bold;
}

nav {
  padding: 15px;
  background-color: rgba(0, 3, 10, 0.172);
}

nav>ul {
  margin: 0;
  width: 50%;
}

nav>ul>li {
  list-style: none;
}

nav>ul>li>a {
  color: white;
  text-decoration: none;
}

.pfp {
  height: 2.5em;
  border-radius: 50%;
}

.BorderedContainer {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2vmin;
}

.PostContainer {
  padding: 1rem;
  margin-bottom: 1rem;
  min-width: 100%;
}

.PostData img,
strong {
  margin-right: 0.5rem;
}

.PostData span {
  opacity: 40%;
}

.subtitle {
  margin-top: 10vh;
  opacity: 40%;
}


/* Like, reply, repost, send post */

.reaction-button,
.SendButton {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  border: none;
  align-items: center;
  justify-content: center;
}

.reaction-button {
  background-color: #00000000;
  border-radius: 50%;

}

.SidebarButton span.icon{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.reaction-button span {
  width: 24px;
  height: 24px;
}

.SendButton {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  transform: translate(-5px, 99px);
  /* background-color: rgb(0, 110, 255); */
  background: rgb(0, 157, 232);
  background: linear-gradient(360deg, rgb(0, 255, 234) 0%, rgb(0, 162, 255) 10%, rgb(0, 89, 172) 40%, rgba(0, 56, 108, 1) 70%, rgba(213, 248, 255, 1) 100%);
  border: 1px solid rgba(0, 1, 43, 0.719);
  box-shadow: 0px 0px 10px 1px rgb(0, 89, 172);
  padding: 1.5rem;
  border-radius: 50% 15% 25% 15%;

}

.SendButton:active {
  background: rgb(0, 157, 232);
  background: linear-gradient(360deg, rgb(28, 117, 158) 0%, rgb(20, 72, 121) 30%, rgb(7, 31, 54) 100%);
  border: 1px solid rgba(0, 1, 43, 0.719);
  box-shadow: 0px 0px 5px 0px rgb(0, 55, 107);
}

.reaction-button:hover {
  background-color: rgba(0, 110, 255, 0.3);
}