/* App-wide CSS */
@font-face {
  font-family: 'Inter';
  src: url('./src/assets/Inter-VariableFont_slnt\,wght.ttf');
}

html {
  font-family: 'Inter';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.Start {
  background: url("../assets/sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Start>main>.card input[type=text] {
  padding: 10px;
  border-radius: 1vmin;
  border: 1px solid gray
}

.Start>main>.homepage-card {
  border-radius: 2vmin;
  min-width: 800px;
}

h1.card-title {
  font-size: xx-large;
  font-weight: bold;
}

nav {
  padding: 0.5rem;
}

nav>ul {
  margin: 0;
  padding: 0.7rem;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 0.5rem;
  transition: 0.3s;
}

nav>ul>li {
  list-style: none;
  align-items: center;
}

nav>ul>li>a {
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.3s;
  box-sizing: border-box;
}
nav>ul:hover{
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px 0px white inset;
  transform: scale(1.05);
}
nav>ul:active{
  transform: scale(1);
}
nav>ul>li>a:hover {
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7rem;
  color: rgba(0, 0, 0, 0.7);
}

.pfp {
  height: 2.5em;
  border-radius: 50%;
}

.BorderedContainer {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 1rem;
  box-sizing: border-box;
}

.PostContainer, .write-post-container {
  margin-bottom: 1rem;
  width: 100%;
}

.PostData img,
strong {
  margin-right: 0.5rem;
}

.PostData span {
  opacity: 40%;
}

.subtitle {
  margin-top: 10vh;
  opacity: 40%;
}


/* Like, reply, repost, send post */

.reaction-button,
.SendButton {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  border: none;
  align-items: center;
  justify-content: center;
}

.reaction-button {
  background-color: #00000000;
  border-radius: 50%;

}

.sidebar-button span.icon {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.reaction-button span {
  width: 24px;
  height: 24px;
}

.SendButton {
  position: relative;
  align-self: flex-end;
  background-color: rgb(0, 110, 255);
  box-shadow: 0px 4px 0px 0px rgb(33, 166, 255);
  padding: 1.5rem;
  border-radius: 50% 15% 20% 15%;
  transition: 40ms;
}

.SendButton:active {
  background-color: rgb(42, 170, 255);
  box-shadow: 0px 0px 10px 0px rgb(0, 183, 255);
  transform: translate(0px, 4px);
}

.reaction-button:hover {
  background-color: rgba(0, 110, 255, 0.3);
}



/* ===== Sidebar ===== */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.sidebar span.text {
  margin-left: 1rem;
}

/* Buttons for new tabs */
.sidebar-button {
  background-color: #00000000;
  border: none;
  width: 100%;
  border-radius: 0.2rem;
  transition: 0.5s;
}

.sidebar-button span.icon {
  width: 2rem;
}

.sidebar-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
}

.sidebar-button:active {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.1s;
}