body {
    height: 100%;
    overflow: hidden;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}

.container {
    max-height: 100vh;
    max-width: none;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #00000020 #ffffff00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 50%;
    border: 0px solid #ffffff00;
}

.page-container{
    box-sizing: border-box;
    padding: 1rem;
    height: 100vh;
}

/* ===== New post input ===== */
textarea {
    resize: none;
    width: 100%;
    border: 0;
}

textarea:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.8);
}
.write-post-container{
    width: 100%;
    padding-bottom: 0.7rem;
    padding-right: 0.5rem;
}

/* ======== Div for Reaction buttons ======== */
.interaction-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.interaction-footer div {
    display: flex;
    align-items: center;
}